# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# Firmware files
*.hex
*.bin
*.uf2

# clangd
compile_commands.json
.clangd/
.cache/

# Private keymap data
keyboards/crkbd/rev4_1/standard/keymaps/mini/private.h
